# development tools
flake8~=4.0
black~=22.1
pre-commit~=2.20
ipykernel~=6.16

# project packages
pandas~=1.4
folium ~= 0.14.0
ortools~=9.7
geopandas~=0.14.0
geodatasets~=2023.3.0
matplotlib~=3.8.0
contextily~=1.4.0
ortools~=9.7
osmnx~=1.7.0
networkx~=3.2 